<!DOCTYPE html>
<html>
<head>
    <title>Опционная серия</title>
</head>
<body>
    <h1>Ввод данных для опционной серии</h1>
    <div style="display: flex">
       <form style="width: 50%" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not options_form %}
            {{ file_form.as_p }}
            <button type="submit" name="upload">Загрузить файл</button>
        {% else %}
            {{ options_form.as_p }}
            <button type="submit" name="select_option">Построить график</button>
            <div id="details"></div>
        {% endif %}
    </form>
    {% if graph_data %}
    <div>
        <img src="data:image/png;base64,{{ graph_data }}" alt="Graph">
    </div>
    {% endif %}
    </div>


</body>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const optionSelect = document.getElementById('id_option_id');
    const fetchData = () => {
        const selectedId = optionSelect.value;
        if (!selectedId) return; // Если ID не выбран, прервать функцию

        fetch(`/get-option-data/${selectedId}/`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('id_strike_step').value = data.step;
                document.getElementById('id_cnt').value = data.count;
                document.getElementById('details').innerHTML = `
                    <p>Spot Price: ${data.spot_price}</p>
                    <p>Type: ${data.type}</p>
                    <p>Polynomial Coefficients: ${data.coef}</p>
                    <p>R: ${data.r}</p>
                    <p>External Strikes: ${data.external_strikes.join(', ')}</p>
                    <p>Count: ${data.count}</p>
                    <p>Step: ${data.step}</p>
                `;
            })
            .catch(error => console.error('Error fetching data:', error));
    };

    optionSelect.addEventListener('change', fetchData);
    fetchData(); // Вызов функции при загрузке страницы для текущего выбранного значения
});
</script>


</html>
